*{
	margin: 0;
	padding: 0;
}

body{
	background:url(../img/fondo-registro.jpg) 50% 0 no-repeat fixed;
	/*background: url("../img/a.jpg") repeat scroll 0 0 rgba(0,0,0,0);
	font-family: "Jose Sans",sans-serif;
	text-align: center;*/
	margin: 0;

	/*background:url(../img/fondo-c.jpg) 50% 0 no-repeat fixed;*/
	/*background-size: cover;
	background-position:top center;
	background-repeat:no-repeat;*/
	color:#ffffff;
	height: 100%;

	/*overflow: hidden;*/

	width: 100%;
}

header{
	/*background:url(../images/enca.jpg) 50% 0 no-repeat fixed;*/
	background: rgba(0,0,0,0.5);
	margin-bottom: 10px;
	margin-top: 0%;
	overflow: hidden;
	width: 100%;
}

.wrapper{
	margin:auto;
	/*max-width: 90%;*/
	overflow: hidden;
	/*width: 100%;*/
}

.logo{
	width: 45%;
}

.logo{
	width:45%;
animation-name: rotacion;-webkit-animation-name: rotacion;
    animation-timing-function: linear;-webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;
    animation-duration: 7s;-webkit-animation-duration: 7s;
}

@keyframes rotacion {
  0% {
    transform: rotateY(0deg);
  }
  60%{
	  transform: rotateY(-360deg);
  }
  100%{
	  	  transform: rotateY(-360deg);
  }
}
@-webkit-keyframes rotacion {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  60%{
	  -webkit-transform: rotateY(-360deg);
  }
  100%{
	  	  -webkit-transform: rotateY(-360deg);
  }
}

.menu{
	/*display: inline-block;*/
	/*margin-left: 30%;*/
	margin-top: 2.5%;
	margin-bottom: 7%;
	width: 65%;
}

.botonesmenu{
	margin-right: 1%;
	margin-left: 9%;
}

header .logo{
	color:#000;
	font-size: 60px;
	margin-top:1.2%;
	margin-left: 50px;
	float:left;
	text-align: center;
}

header nav{
	float: right;
	line-height: 10px;
}

header nav a{
	display: inline-block;
	color:#ff003c;
	text-decoration: none;
	padding: 12px 20px;
	line-height: normal;
	margin-right: -200%;
	margin-top: -6%;
	font-size: 20px;
	font-weight: bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover{
	background: #fe0;
	border-radius: 15px; 
}
.header2{
	position: fixed;
	height: 98px;
}

.header2 .logo{
	line-height: 98px;
	font-size: 30px;
}

.header2 nav{
	line-height: 98px;
}

nav{
	display: inline-block;
	line-height: 90px;
	margin: 0.5em auto;
	max-width: 960px;
	min-height: 100%;
	padding: 0.10em;
	text-align: center;
	vertical-align: top;
	width: 65%;
}

h1{
	color: #ff0000;
   position: relative;
   text-align: center;
   margin-top: 7%;
   width: 95%;
   font-size: 50pt; 
}

.aa{
	position: fixed;
	line-height: 100%;
	display: inline-block;
	vertical-align: top;
	height: 30%;
	margin-top: 2%;
	text-align: center;
	margin-left: -3%;
	width: 100%;
}

.aa img:hover{-webkit-filter: brightness(0.3);}
